# Ignore Git-related files
.git
.gitignore

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/

# Ignore unnecessary data directories
data/annotated_dataset/.ipynb_checkpoints/
src/analysis/modified_corpus_batches/json/.ipynb_checkpoints/
web_app/.ipynb_checkpoints/
web_app/backend/.ipynb_checkpoints/
web_app/frontend/.ipynb_checkpoints/
web_app/frontend/src/pages/.ipynb_checkpoints/

# Ignore node_modules
web_app/frontend/node_modules/
web_app/backend/node_modules/
**/node_modules
**/indexdir
*.pyc